
a {
    text-decoration: none;
    color: inherit;
}

.left-column-container{
    width: 167px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc(50vw - 480px);
    
}

#dashboard-title img{
    height: 16px;
    width: auto;
    margin-top: 12px;
}
#dashboard-title{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

#dashboard-title h3{
    font-family: 'Lato', sans-serif ;
    font-size: 16px;
    font-weight: normal;
    color: #999;
}

.feature-list{
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding-left: 0;
    
}
.feature-title{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #f6f6f6;
    padding: 2px 1px;
    
}
.feature-title p{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: #ccc;
    margin-top: 0;
    margin-bottom: 0;
    

}
.feature-list li {
    padding: 3px 8px 2px 8px;
}