.create-group-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    margin-top: 200px;

}

.create-group-image{
    width: 200px;
    margin-right: 25px;
}